@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");
:root {
  padding: 0;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::-moz-selection {
  background-color: #be9c79;
  color: #fff;
}

*::selection {
  background-color: #be9c79;
  color: #fff;
}

::-webkit-scrollbar {
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #be9c79;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading img {
  height: 4rem;
  margin-bottom: 1rem;
}

.heading h3 {
  font-size: 3rem;
  color: #333;
  font-family: 'Merienda One', cursive;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #be9c79;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background-color: #333;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 1.5rem 2rem;
}

.header .flex .logo img {
  height: 4.5rem;
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  margin-left: 2rem;
  color: #333;
}

.header .flex .navbar a:hover {
  text-decoration: underline;
  color: #be9c79;
}

#menu-btn {
  display: none;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
}

.home-bg {
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(70%, transparent)), url(../img/home-bg.jpg) no-repeat;
  background: linear-gradient(90deg, #fff, transparent 70%), url(../img/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home-bg .home {
  min-height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-bg .home .content {
  width: 50rem;
  text-align: center;
}

.home-bg .home .content h3 {
  font-size: 6rem;
  color: #333;
  font-family: 'Merienda One', cursive;
}

.home-bg .home .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #333;
  line-height: 2;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content h3 {
  font-size: 4.5rem;
  color: #333;
  font-family: 'Merienda One', cursive;
  padding-top: 1.5rem;
}

.about .content p {
  padding: 1rem 0;
  line-height: 2;
  color: #666;
  font-size: 1.5rem;
}

.facility .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.facility .box-container .box {
  text-align: center;
}

.facility .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
}

.facility .box-container h3 {
  font-size: 2rem;
  color: #333;
  margin: 1rem;
}

.facility .box-container p {
  line-height: 2;
  font-size: 1.5rem;
  color: #666;
}

.menu .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .box-container .box {
  text-align: center;
}

.menu .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
}

.menu .box-container .box h3 {
  font-size: 2rem;
  color: #333;
}

.gallery .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 30rem);
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .box-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .box-container .box {
  text-align: center;
}

.team .box-container .box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: .5rem;
}

.team .box-container .box p {
  font-size: 2rem;
  color: #333;
}

.team .box-container .box h3 {
  font-size: 2rem;
  color: #333;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .box-container .box {
  text-align: center;
}

.footer .box-container .box i {
  font-size: 2.5rem;
  line-height: 6rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #be9c79;
  color: #fff;
  margin-bottom: 1rem;
}

.footer .box-container .box i h3 {
  margin: .5rem 0;
  font-size: 2rem;
  color: #333;
}

.footer .box-container .box i p {
  line-height: 2;
  font-size: 1.6rem;
  color: #666;
}

@media only screen and (max-width: 990px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 0.2rem solid #333;
    border-bottom: 0.2rem solid #333;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }
  .header .flex .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .home-bg {
    background-position: left;
  }
  .home-bg .home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-bg .home .content h3 {
    font-size: 4rem;
  }
  .about .content h3 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading img {
    height: 3rem;
  }
  .heading h3 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=coffee.css.map */